# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.so

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Env files
.env
*.env

# Virtual environment
venv/
env/
ENV/
.venv/

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Migrations (optional)
*/migrations/__pycache__/
